//All project colors
$p-01:#FFFFFF;
$p-02:#DEDEDF;
$p-03:#FAFAFA;
$p-04:#E2E2E3;
$p-05:#C8C8C8;
$p-06:#B5B5B5;
$p-07:#9F9F9F;
$p-08:#029AA2;
$p-09:#00A9C8;
$p-10:#01868D;
$p-11:#016368;
$p-12:#006275;
$p-13:#014D51;
$p-14:#013A3D;
$p-15:#EEE809;
$p-16:#D9D208;
$p-17:#4D4D4D;
$p-18:#3E3E3E;
$p-19:#000000;
$p-20:#00000085;
$p-21:#00000047;
$p-22:#00000033;
$p-23:#0000000F;
$p-24:#BFEDE3;
$p-25:#767676;
$p-26:#1d1c1c;
$p-27:#37b11f;
$p-28:#ee0d0d;
$p-29:#f4f4f4;
