<div fxFlex class="background" fxLayoutAlign="center center">
  <div fxFlex="90" class="pressroom" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
      <div class="title-space" fxLayout="row" fxLayoutGap="25px">
          <div class="title" fxLayout="column" fxLayoutAlign="center end">
              <span class="simple-sub-part-title">Confira as melhores</span>
              <span class="focused-sub-part-title">Notícias</span>
          </div>
      </div>
      <div class="news" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center"
          fxLayoutGap.lt-sm="30px">
          <mat-card class="news-panel" fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="41px" fxFlex.lt-sm fxLayoutAlign="space-between center">
            <mat-card-header class="simple-sub-part-title-card">
              <mat-card-title>Ar condicionado: como fazer manutenção e limpeza?</mat-card-title>
            </mat-card-header>
            <img src="../assets/images/img/news-panel-1.jpg" class="image">
            <mat-card-actions>
              <button class="button-visualizar button-label" (click)="goToLink('https://extra.globo.com/noticias/brasil/minha-casa/ar-condicionado-como-fazer-manutencao-limpeza-25270365.html')" mat-button>Vizualizar</button>
              <button class="button-visualizar button-label" mat-button>Compartilhar</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="news-panel" fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="41px" fxFlex.lt-sm fxLayoutAlign="space-between center">
            <mat-card-header class="simple-sub-part-title-card">
              <mat-card-title>A importância dos Eletricistas Instaladores Residencial</mat-card-title>
            </mat-card-header>
            <img src="../assets/images/img/eleimportancia.png" class="image">
            <mat-card-actions>
              <button class="button-visualizar button-label" (click)="goToLink('https://portogente.com.br/portopedia/114047-a-importancia-dos-eletricistas-instaladores-residencial-predial-e-industrial')" mat-button>Vizualizar</button>
              <button class="button-visualizar button-label" mat-button>Compartilhar</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="news-panel" fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="41px" fxFlex.lt-sm fxLayoutAlign="space-between center">
            <mat-card-header class="simple-sub-part-title-card">
              <mat-card-title>Reparos que podem transformar o seu home office</mat-card-title>
            </mat-card-header>
            <img src="../assets/images/img/home-office-trabalho.jpg" class="image">
            <mat-card-actions>
              <button class="button-visualizar button-label" (click)="goToLink('https://www.portaldailha.com.br/noticias/lernoticia.php?id=51794')" mat-button>Vizualizar</button>
              <button class="button-visualizar button-label" mat-button>Compartilhar</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="news-panel" fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="41px" fxFlex.lt-sm fxLayoutAlign="space-between center">
            <mat-card-header class="simple-sub-part-title-card">
              <mat-card-title>Melhores cursos de confeitaria para renda extra!</mat-card-title>
            </mat-card-header>
            <img src="../assets/images/img/bolos.jpg" class="image">
            <mat-card-actions>
              <button class="button-visualizar button-label" (click)="goToLink('https://www.saboravida.com.br/gastronomia/2021/11/05/melhores-cursos-de-confeitaria-online/')" mat-button>Vizualizar</button>
              <button
              class="button-visualizar button-label" mat-button>Compartilhar</button>
            </mat-card-actions>
          </mat-card>
      </div>
  </div>
</div>
