<div fxLayout="column" fxFlex>
  <div fxFlex fxLayoutAlign="space-evenly stretch" fxLayout.lt-md="column" fxLayout.xs="column" fxFlex.xs fxLayout="row"
    fxLayoutAlign="start center" class="backgroundFooterMain">
    <div fxLayout.xs="column" fxLayoutAlign.xa="center center" fxLayout="column" fxLayoutAlign="start center"
      class="paddinglogov1">
      <a [routerLink]="['']"><img fxLayout.xs="column" class="padding-logo image-logo"
          src="../assets/images/img/logobico.png" height="68px"></a>
    </div>
    <div fxFlex fxFlex.xs fxLayoutAlign="space-evenly stretch" fxLayoutAlign.lt-md="center" fxLayout.lt-md="column"
      fxLayout.xs="column" fxLayout="row" fxFlex class="marginFooterText">

      <div fxLayout.xs="column" fxLayout="column" fxFlex.xs fxFlex.sm class="text-agrad padding-coluans">
        <a class="font-foter" [routerLink]="['/inicio']">Termos de Uso</a>
      </div>
      <div fxLayout.xs="column" fxLayout="column" fxFlex.xs fxFlex.sm class="text-agrad padding-coluans">
        <a class="font-foter" [routerLink]="['/inicio']">Política de privacidade</a>
      </div>

    </div>
    <div fxLayout.xs="column" fxLayoutAlign.xa="center center" fxLayout="column" fxLayoutAlign="start center"
      class="paddinglogov2main">
      <a [routerLink]="['']"><img class="padding-logo image-logo" src="../assets/images/img/logobicoleft.png"  height="68px"></a>
    </div>
  </div>
  <div fxLayoutAlign="center center" fxFlex.xs fxFlex.sm fxFlex class="backgroundCopyright margingBg">
    <div>
      <span class="font-devbyPI">Copyright © 2021 Bico</span>
    </div>
  </div>
</div>
